/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
* {
     color: white;
     font-family: Montserrat;  
}

p {
     line-height: 2rem;
     color: #8E919A;
}

h2 {
     color: #131313;
     font-weight: 400; 
}

h3 {
     color: #8E919A;
     font-size: 0.7rem;
     font-weight: 700;
}

h4 {
     margin: 0;
     color: #131313 ;
}
li,a {
     list-style: none;
     text-decoration: none !important;
}

.btn-white {
     font-size: 0.8rem;
     font-weight: 600;
     padding: 15px 50px;
     background-color: #ffffff;
     color: #0E1424;
     border-radius: 4px;
     border: none;
     margin: 0 70px 0 0;
}

.btn-blue {
     font-size: 0.8rem;
     font-weight: 600;
     padding: 15px 50px;
     background-color: #141B2C;
     color: #B7BBC5;
     border-radius: 4px;
     border: none;
     margin: 0 70px 0 0;
     align-self: flex-start;   
}

.container {
     max-width: 70%;
     margin: 0 auto;
}
.primary-nav-ul {
     padding: 0;
     text-align: center;
}

header , .hero-section , .about-us-section , .solution-based-section , .how-does-it-work-section{
     padding: 110px 0;
}

.social-proof-section {
     padding-bottom: 50px;
}
body {
     /* background: linear-gradient(rgb(18, 25, 42),rgb(21, 28, 47)); */
     background: linear-gradient(to right, #0E1424, #202a44);
}


/******************************************
/* UTILITY CLASSES
/*******************************************/

.row-vertical-center {
     display: flex;
     align-items: center

}

.container {
     max-width: 85%;
     margin: 0 auto;
}

.blue-background {
     background: linear-gradient(to right, #0E1424, #202a44); ;
}

.grey-background {
     background-color: #DEE1EA;
}



/******************************************
/* HEADER
/*******************************************/

.nav-bar-wrapper {
     display: flex;
     gap: 20px;
     justify-content: space-between; 
     align-items: center;
}

.nav-bar-right {
     display: flex;
     gap: 80px;
     text-align: center;
     align-items: center;
}

.primary-nav-ul {
     display: flex;
     gap: 80px;
}

.nav-bar-button {
     padding: 15px 50px;
     background-color: #393F4E;
     border-radius: 4px;
     border: none;
}

/* NAV BASE FONT SIZE */
.nav-bar-wrapper * {
     font-size: 0.8rem;
     font-weight: 600;
}

/* NAV TEXT COLOR */
li a {
     color: #9f9f9f;
}

a.nav-white-text {
     color: white;
}


/******************************************
/* HERO SECTION
/*******************************************/

.hero-section {
     position: relative;
     height:680px;
}

.skew-transition {
     position: relative;
     height: 2000px;
}
.hero-container {
     display: flex;
}

.hero-left {
     width: 60%;
}

.hero-right {
     width: 40%;
     overflow: visible;
}

.hero-text-wrapper {
     padding: 35px 0 0 0;
}

h1 {
     font-weight: 350;
     line-height: 3rem;
     margin: 0;
}


.hero-left {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.create-acct-wrapper {
     display: flex;
     align-items: center;
     gap: 10px;
}

.hero-img {
     width: 600px;
     /* border-radius: 20px; */
      
     display: block;
     filter: drop-shadow(0px -8px 17px #202a44);
}

.social-proof-section::before {
     
     content: ' ';
     position: absolute;
     top: -200px;
     left: 0;
     right: 0;
     z-index: -1000;
     background-color: rgb(255, 255, 255);
     height: 300px;
     transform: skewY(-5deg);
} 


/******************************************
/* SOCIAL PROOF SECTION
/*******************************************/

.social-proof-section {
     
     margin-top: 70px;
     
     position: relative;
     background-color: #ffffff; 
     padding: 0 0 70 0;  
}

.social-proof-wrapper {
     display: flex;
     justify-content: end;
     gap: 40px;
}


.social-proof-img {
     width: 110px;
     display: block;
}










/******************************************
/* ABOUT US SECTION
/*******************************************/

 .about-us-section {
     
     background-color: white;
} 

.about-us-wrapper {
     display: flex;
     
}

.about-us-left , .about-us-right {
     width: 50%;
}

.about-us-left {
     display: flex;
     flex-direction: column;
     height: 100%;
     
    
}

.about-us-text-wrapper {
     width: 550px;
     margin-bottom: 90px;
}

.about-us-right {
     display: grid;
     padding-left: 70px;
     grid-gap: 50px;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     justify-content: center;
     align-items: center;
    
}

.about-us-offerings {
     display: grid;
     grid-template-rows: 2.5fr 1fr;
    
     margin: 0 auto;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.offerings-img {
     
}
.offerings-text-wrapper {
     
     text-align: center;
     display: block;
}

.offerings-text-wrapper * {
     line-height: 1.4rem;
     margin: 5px;
}

.hero-btns-wrapper {
     padding: 0 0 70px 0;
}


/******************************************
/* SOLUTION BASED SECTION SECTION
/*******************************************/

.solution-based-section {
     background-color: #ffffff;
}



.solution-based-wrapper {
     display: flex;
}
.solution-based-left , .solution-based-right {
     width: 50%;
}

.solution-based-img {
     width: 550px;
     height: 100%;
     background-color: #DBDEE7;
}
.solution-based-right {
     padding-bottom: 20px;
}

.solution-based-text-wrapper {
     width: 620px;
     margin-bottom: 90px;
}

.solution-based-img {
     display: flex;
     justify-content: center;
     align-items: center;
}


.logo {
     width: 150px;
     
}

/******************************************
/* HOW DOES IT WORK SECTION
/*******************************************/

.how-does-it-work-section {
     background-color: white;
}

.how-does-it-work-heading-wrapper {
     margin: 0 0 90px 0 !important;
}

.how-does-it-work-wrapper > .how-does-it-work-heading-wrapper > h2, .how-does-it-work-wrapper > .how-does-it-work-heading-wrapper > p , .how-does-it-work-wrapper > .how-does-it-work-btn {
     text-align: center;
     margin: 0;
}

.how-does-it-work-heading-wrapper > p {
     margin-top: 10px !important;
}

.how-does-it-work-wrapper > * {
     margin: 20px 0;
}
.how-does-it-work-wrapper-2 {
     display: flex;
     margin: 0;
}



.how-does-it-work-left , .how-does-it-work-right {
     width: 50%;
}  

.how-does-it-work-text-wrapper {
     width: 620px;
    
}

 .fastest-response-rate-wrapper , .quick-turnaround-wrapper {
     display: flex;
 }

 .create-an-account-subtext-wrapper > p {
     font-size: 0.9rem;
     margin: 5px 0 0 0;
     line-height: 1.5rem;

 }

 .fastest-response-rate-wrapper , .quick-turnaround-wrapper {
     margin: 50px 0;
 }
 .square-img-wrapper {
     display: flex;
     align-items: start;
     margin-right: 15px;
}
 .square {
     display: block;
     width: 35px;
 }

.arrow-wrapper {
     display: flex;
     padding-bottom: 30px;
     gap: 20px
}

 .arrow {
     display: flex;
     background-color: white;
     border: solid black 3px;
     width: 5px;
     height: 5px;
     padding: 15px;
     border-radius: 50% 50%;
     justify-content: center;
     align-items: center;
 }
.how-does-it-work-btn {
    display: flex;
    justify-content: center;
    margin: 90px 0 0 0 !important;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.how-does-it-work-wrapper , .how-does-it-work-left , .how-does-it-work-right {
      /* border: solid green 1px;   */
}

